/projeto/dist/
/lista6/ex7/nbproject/private/
/lista6/ex7/build/
/lista6/ex7/dist/
/lista6/exerc7/nbproject/private/
/lista6/exerc7/dist/
/lista6/exerc7/build/
/Bomberman/nbproject/private/
/Bomberman/build/
/Bomberman/dist/
